body {
    padding: 50px;
    background-color: beige;
}
h1{
    color: red;
    text-decoration: underline;
    }
}


h1.fnt-red {
    color: red;
    }
    
.fnt-blue {
    color: blue;
    }
    
#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo {
    color: blue;
    font-size: 30px;
    font-style: italic;
}

.texto {
    color: blueviolet;
    font-size: 15px;
    display: inline;
}

.destacado {
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
    font-size: 15px;
    display: inline;
}

